<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Insurance <small>(* Required Fields)</small></ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <form id="ngForm" name="InsuranceCategoryForm" #InsuranceCategoryForm="ngForm"
  (ngSubmit)="  saveInsuranceCategory(InsuranceCategoryForm)">
    <ion-card>
      <ion-card-header>
        <ion-card-sub-title>Policy Category</ion-card-sub-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid> 
          <ion-row>
            <ion-col>
              <input name="policyCategoryCtrl" list="lstPolicyCategory"  placeholder="*Insurance Category" [(ngModel)]="insuranceCategory.name"
              #policyCategoryCtrl="ngModel" [class.error]="InsuranceCategoryForm.submitted && !policyCategoryCtrl.valid" 
              (change)="setInsurancecategory($event.target.value)" autocomplete="off" required>
              <datalist id="lstPolicyCategory">
                <option *ngFor="let insuranceCategory of insuranceCategories" [value]="insuranceCategory.name">{{insuranceCategory.name}}</option>
              </datalist>
            </ion-col>
            <ion-col>
              <input name="Insuranceplan" list="InsurancePlan" placeholder="Insurance Plan" [(ngModel)]="insuranceplanModel.name" autocomplete="off">
              <datalist id="InsurancePlan">
                <option *ngFor="let insuranceplan of insurancePlans" [value]="insuranceplan.name"></option>
              </datalist>
              
            </ion-col>
            <ion-col class="thin-col">
              <ion-button (click)="addInsurancePlan(insuranceplanModel.name)">+</ion-button>
            </ion-col>  
          </ion-row>
          <ion-row>
            <ion-col>
              
           
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-buttons slot="start">
          <ion-button type=" submit" color="primary">
            <ion-icon slot="icon-only" name="save"></ion-icon>
          </ion-button>
  
          <ion-button color="danger" type="reset">
            <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
          </ion-button>
  
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </form>
  <form id="ngForm" name="InsuranceForm" #InsuranceForm="ngForm"
  (ngSubmit)="addInsurance(InsuranceForm)">
  <ion-card id="personalInfo">
    <ion-card-header>
      <ion-card-sub-title>Policy Details</ion-card-sub-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <input list="lstProductCategory"  placeholder="*Product Category" (change)="getInsurancePlan($event.target.value)" autocomplete="off"> 
            <datalist id="lstProductCategory">
              <option *ngFor="let insuranceCategory of insuranceCategories" [value]="insuranceCategory.name">{{insuranceCategory.name}}</option>
            </datalist>
          </ion-col>
          <ion-col>
            <input list="lstPlanCategory"  placeholder="*Plan Category" autocomplete="off">
            <datalist id="lstPlanCategory">
              <option *ngFor="let insurancePlan of insurancePlans" [value]="insurancePlan.name">{{insurancePlan.name}}</option>
            </datalist>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <input list="lstManufacturer"  placeholder="*Insurance Provider">
            <datalist id="lstManufacturer">
              <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer"></option>
            </datalist>
          </ion-col>
          <ion-col>
            <ion-input placeholder="*Policy Name"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="*Sum Assured" IntegerInput inputmode="numeric"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="*Premium Paying Term" IntegerInput inputmode="numeric"></ion-input>
            <!-- <ion-select placeholder="*Premium Paying Term" interface="popover">
              <ion-select-option *ngFor="let term of [].constructor(20) ; index as i" [value]="i+1">{{i+1}}</ion-select-option>
             
            </ion-select> -->
           
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="*Policy Term" IntegerInput inputmode="numeric"></ion-input>
          </ion-col>
          <ion-col style="width: 50%;">
             <ion-select placeholder="*Premium Paying Mode" [interface]="selectInterface">
              <ion-select-option> Annually </ion-select-option>
              <ion-select-option> Half Yearly </ion-select-option>
              <ion-select-option> Quarterly </ion-select-option>
              <ion-select-option> Monthly </ion-select-option>
              <ion-select-option> One Time </ion-select-option>
            </ion-select>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Modal Premium" readonly></ion-input>
          </ion-col>

          <ion-col>
            <ion-input placeholder="Annualized Premium" readonly></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</form>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button color="primary" >
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>

        <ion-button color="danger" type="reset" >
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>

      </ion-buttons>

    </ion-toolbar>
  </ion-toolbar>
</ion-footer>