ion-select {
    //color: #545ca7;
    //border: solid thin;
    //border-radius: 5%;
    //background: white;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(187, 186, 186);
  }
  input{
    width: 100%;
    height: 3em;
    border-radius: 5px;
    border: 1px solid #bbbaba;
    background: white;
    text-transform: capitalize;
  }
  .w-50{
    width: 50%!important;
  }
  .error{
    border-bottom: 2px solid red;
  }
  .col-margine{
    margin: 0px 0px 13px 5px;
  }
  .w-85{
    width: 85%;
  }
  .selected{
    color: #30ab5b;
  }