ion-select {
    //color: #545ca7;
    //border: solid thin;
    //border-radius: 5%;
    //background: white;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(187, 186, 186);
  }