@import "../customer-info.component.scss";
ion-select {
    /* Applies to the value and placeholder color */
    color: #545ca7;
  
    /* Set a different placeholder color */
    //--placeholder-color: #971e49;
  
    /* Set full opacity on the placeholder */
    //--placeholder-opacity: 1;
    width: 75px;
    border: solid thin;
    border-radius: 5%;
    background: white ;
    border: 1px solid rgb(187, 186, 186);
  }