<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Customer <small>(* Required Fields)</small></ion-title>
    <ion-title *ngIf="this._commonService.customerName && this._commonService.customerName.length>0">
      {{this._commonService.customerName}}</ion-title>

  </ion-toolbar>
  <button type="button" [class.tab-selected]="_commonService.showPolicyHolder"
    (click)="_commonService.changeTab('policyHolder')" class="tablink">Policy Holder</button>
  <button type="button" [class.tab-selected]="_commonService.showLifeInsured"
    (click)="_commonService.changeTab('lifeInsured')" class="tablink">Life Insured</button>
    <button type="button" [class.tab-selected]="_commonService.showNominee"
    (click)="_commonService.changeTab('nominee')" class="tablink">Nominee</button>

</ion-header>
<ion-content>

  <app-policy-holder *ngIf="_commonService.showPolicyHolder"></app-policy-holder>
  <app-lifeinsured *ngIf="_commonService.showLifeInsured"></app-lifeinsured>
  <app-nominee *ngIf="_commonService.showNominee"></app-nominee>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button color="primary" (click)="callCommonService('save')">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>

        <ion-button color="danger" type="reset" (click)="callCommonService('reset')">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>

      </ion-buttons>

    </ion-toolbar>
  </ion-toolbar>
</ion-footer>