// ion-col {
//     border: 1px solid grey;
//     text-align: center;
//   }
  ion-input{
    border-radius: 5px;
    border: 1px solid rgb(187, 186, 186);
    background: white;
  }
  ion-card{
      background: #dbdbe7;
  }