<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Customer Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form id="customerInfo">

    <ion-card id="personalInfo" >
      <ion-card-header>
        <ion-card-sub-title>Personal Info</ion-card-sub-title>
        <!-- <ion-button fill="clear" class="collapse-btn arrow-down" (click)="toggleCard($event)" ></ion-button> -->
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <!-- <ion-row>
            <ion-col>
            <ion-checkbox color="primary" checked="ckecked" value="Same as corrospondence"></ion-checkbox>
            <ion-label>  Person Insured Same as Policy Holder</ion-label>
            </ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col>
              <ion-select value="Mr." okText="Okay" cancelText="Dismiss">
                <ion-select-option value="Mr.">Mr.</ion-select-option>
                <ion-select-option value="Mrs.">Mrs.</ion-select-option>
                <ion-select-option value="Miss">Miss</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="First Name"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input placeholder="Middle Name"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input placeholder="Last Name"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-sub-title>Corrospondence Address</ion-card-sub-title>
        <!-- <ion-button fill="clear" class="collapse-btn arrow-down" (click)="toggleCard($event)" ></ion-button> -->
      </ion-card-header>
      <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Flat No, Building name"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Street, locality"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="City"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="State"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Country"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Pin Code"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-sub-title>Permanent Address</ion-card-sub-title>
        <!-- <ion-button fill="clear" class="collapse-btn arrow-down" (click)="toggleCard($event)" ></ion-button> -->
      </ion-card-header>
      <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
          <ion-checkbox color="primary" value="Same as corrospondence"></ion-checkbox>
          <ion-label>  Same as corrospondence</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="Flat No, Building name"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Street, locality"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="City"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input placeholder="State"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Country"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input placeholder="Pin Code"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-card-content>
    </ion-card>
    
    <ion-card >
      <ion-card-header>
        <ion-card-sub-title>Contact Info</ion-card-sub-title>
        <!-- <ion-button fill="clear" class="collapse-btn arrow-down"  (click)="toggleCard($event)" ></ion-button> -->
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="thin-col">
              <ion-input class="input-small" placeholder="STD-Code" maxlength="5"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input  placeholder="Home Phone" maxlength="6"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="thin-col">
              <ion-input class="input-small" placeholder="STD-Code" maxlength="5"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input  placeholder="Office Phone" maxlength="6"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="thin-col">
              <ion-input class="input-small" placeholder="Country-Code" maxlength="5"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input placeholder="Mobile" type="tel" maxlength="10"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input placeholder="E-mail (Personal)"></ion-input>
            </ion-col>
            <ion-col>
              <ion-input placeholder="E-mail (Official)"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
  </form>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" (click)="eventclick('Saved')">
          <ion-icon slot="icon-only" name="save"></ion-icon>
        </ion-button>
        
        <ion-button color="danger" (click)="eventclick('Clear')">
          <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
        </ion-button>
        
      </ion-buttons>
     
    </ion-toolbar>
  </ion-toolbar>
</ion-footer>